<html lang="en">


<head>
    <script type="text/javascript", src="/static/js/script.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Subtitle Metadata Test</title>
</head>

<body>


    <div id="main">
        <div id="txt">
            <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                <p>Drag ONE or more files to this Drop Zone ...</p>
            </div>
            <div id=text>
                Text
            </div>

        </div>
        <div id="info">
            Info
            <div id="entities">
                entities
                <div id="PER">
                    <h3>PERSONER</h3></div>
                <div id="LOC">
                    <h3>LOKATIONER</h3>
                    </div>
                <div id="ORG">
                    <h3>ORGANISATIONER</h3>
                    </div>
            </div>
            <div id="keywords_1">
                <h3>NØGLEORD - YAKE Algoritme</h3>
                </div>
            <div id="keywords_2">
                <h3>NØGLEORD - KeyBERT Algoritme</h3>
                </div>
        </div>

    </div>


</body>

</html>